.container {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

.container main {
  flex: 1;
  width: 57vw;
}

/* .container main>div {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.container app-orders {
  min-width: 60%;
  flex: 1;
}

.container app-customers {
  flex: 1;
} */
