<section class="orders">
  <div>
    <h2 class="heading">Recents Orders</h2>
    <a>View all</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Payment</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Laptop</td>
        <td>$700</td>
        <td>Paid</td>
        <td><span style="background-color:#00B74A">Delivered</span></td>
      </tr>
      <tr>
        <td>Printer</td>
        <td>$150</td>
        <td>Due</td>
        <td><span style="background-color:#FFA900">Pending</span></td>
      </tr>
      <tr>
        <td>Monitor</td>
        <td>$240</td>
        <td>Paid</td>
        <td><span style="background-color: #F93154;">Return</span></td>
      </tr>
      <tr>
        <td>Smart Phone</td>
        <td>$350</td>
        <td>Due</td>
        <td><span style="background-color:#007bff">In Progress</span></td>
      </tr>
      <tr>
        <td>LCD TV</td>
        <td>$429</td>
        <td>Paid</td>
        <td><span style="background-color:#00B74A">Delivered</span></td>
      </tr>
      <tr>
        <td>Camera</td>
        <td>$459</td>
        <td>Paid</td>
        <td><span style="background-color:#FFA900">Pending</span></td>
      </tr>
      <tr>
        <td>DVD Player</td>
        <td>$69</td>
        <td>Paid</td>
        <td><span style="background-color: #F93154;">Return</span></td>
      </tr>
      <tr>
        <td>Tablet</td>
        <td>$239</td>
        <td>Due</td>
        <td><span style="background-color:#007bff">In Progress</span></td>
      </tr>
      <tr>
        <td>Headphone</td>
        <td>$45</td>
        <td>Paid</td>
        <td><span style="background-color: #F93154;">Return</span></td>
      </tr>
      <tr>
        <td>Coffee machine</td>
        <td>$80</td>
        <td>Paid</td>
        <td><span style="background-color:#FFA900">Pending</span></td>
      </tr>
      <tr>
        <td>Playstation</td>
        <td>$489</td>
        <td>Due</td>
        <td><span style="background-color:#007bff">In Progress</span></td>
      </tr>
    </tbody>
  </table>
</section>
