<section class="cards">
  <div class="card shadow">
    <div class="info">
      <h2 class="heading">3,402</h2>
      <span>Daily Views</span>
    </div>
    <div class="icon">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </div>
  </div>
  <div class="card shadow">
    <div class="info">
      <h2 class="heading">50</h2>
      <span>Shop</span>
    </div>
    <div class="icon">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
  </div>
  <div class="card shadow">
    <div class="info">
      <h2 class="heading">174</h2>
      <span>Comments</span>
    </div>
    <div class="icon">
      <i class="fa fa-comments" aria-hidden="true"></i>
    </div>
  </div>
  <div class="card shadow">
    <div class="info">
      <h2 class="heading">$5,142</h2>
      <span>Earning</span>
    </div>
    <div class="icon">
      <i class="fa fa-money" aria-hidden="true"></i>
    </div>
  </div>
</section>
