<section class="messages shadow">
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="from">
          Paul
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, facilis porro! Alias.</td>
        <td>20.04.2022</td>
      </tr>
      <tr>
        <td class="from">
          Felix
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, consequatur vel. Consequuntur.</td>
        <td>18.04.2022</td>
      </tr>
      <tr>
        <td class="from">
          Susanne
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eius quasi quo!</td>
        <td>15.04.2022</td>
      </tr>
      <tr>
        <td class="from">
          Franziska
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eius quasi quo!</td>
        <td>10.04.2022</td>
      </tr>
      <tr>
        <td class="from">
          Michael
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eius quasi quo!</td>
        <td>04.04.2022</td>
      </tr>
      <tr>
        <td class="from">
          Christoph
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eius quasi quo!</td>
        <td>03.04.2022</td>
      </tr>
      <tr>
        <td class="from">
          Tobias
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eius quasi quo!</td>
        <td>01.04.2022</td>
      </tr>
      <tr>
        <td class="from">
          Eva
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eius quasi quo!</td>
        <td>28.03.2022</td>
      </tr>
      <tr>
        <td class="from">
          Katharina
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi illum neque?</td>
        <td>25.03.2022</td>
      </tr>
      <tr>
        <td class="from">
          Peter
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi illum neque?</td>
        <td>21.03.2022</td>
      </tr>
      <tr>
        <td class="from">
          Stefan
          <div class="icons">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        </td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi illum neque?</td>
        <td>19.03.2022</td>
      </tr>
    </tbody>
  </table>
</section>
