<section class="customers shadow">
  <h2 class="heading">Recents Customers</h2>
  <div class="customer">
    <img src="assets/images/avatar-02.png" alt="">
    <div class="info">
      <span class="name">Anna</span>
      <span class="country">Düsseldorf</span>
    </div>
  </div>
  <div class="customer">
    <img src="assets/images/avatar-03.png" alt="">
    <div class="info">
      <span class="name">Müller</span>
      <span class="country">Hannover</span>
    </div>
  </div>
  <div class="customer">
    <img src="assets/images/avatar-04.png" alt="">
    <div class="info">
      <span class="name">Patrick</span>
      <span class="country">München</span>
    </div>
  </div>
  <div class="customer">
    <img src="assets/images/avatar-05.png" alt="">
    <div class="info">
      <span class="name">Oliver</span>
      <span class="country">Leipzig</span>
    </div>
  </div>
  <div class="customer">
    <img src="assets/images/avatar-06.png" alt="">
    <div class="info">
      <span class="name">Janick</span>
      <span class="country">Lübeck</span>
    </div>
  </div>
  <div class="customer">
    <img src="assets/images/avatar-07.png" alt="">
    <div class="info">
      <span class="name">Lina</span>
      <span class="country">Frankfurt</span>
    </div>
  </div>
  <div class="customer">
    <img src="assets/images/avatar-08.png" alt="">
    <div class="info">
      <span class="name">Michael</span>
      <span class="country">Stuttgart</span>
    </div>
  </div>

</section>
